@import url('https://fonts.googleapis.com/css?family=Acme&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Jockey+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(46, 45, 45);
    font-family: 'Open Sans', sans-serif;
}

#container {
    display: flex;
    height: 100vh;
    /* position: relative; */
}

/*Home*/
.greendetail {
    color: #32c398;
}

.circles-animation img {
    max-width: 100%;
}
.circles-animation {
    display: flex;
}

.circle {
    transform: translate(-10%, -05%);
    position: absolute;
    width: 45%;
    align-self: center;
    opacity: 0.8;
}

.circleOne img {
    animation: rotateCircle 2s linear infinite;
}

.circleTwo img {
    animation: rotateCircle 8s linear infinite;
}

@keyframes rotateCircle {
    from {
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

.home-page {
    display: flex;
    justify-content: flex-start;
    align-self: center;
    flex-direction: column;
    margin-left: 80px;
    margin-top: -30px;
}

.detail p {
    color: rgb(141, 137, 137);
    font-size: 14px;
}

h1{
    color: rgb(234, 235, 236);
}

p {
    color: #e6e6e6;
}

.home-page a {
    color: rgb(242, 244, 246);
    border: solid 2px #32c398;
    padding: 9px;
    text-transform: uppercase;
    width: 160px;
    /* font-weight: bold; */
    margin-top: 35px;
    border-radius: 2px;
}

.home-page a:hover{
    background: #32c398;
    color: aliceblue;
}

.text {
    width: 600px;
    margin-top: 15px;
}

/*Nav*/
ul {
   list-style: none;
}

a {
    text-decoration: none;
    color: rgb(105, 104, 105);
}

a:hover{
    color: rgb(50, 195, 152);
    transition: all ease-in 0.2s;
}

header {
    position: relative;
    background: rgb(27, 27, 27);
    height: 100vh;
    width: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 18px 0 18px 0;
}

nav i {
    padding: 14px;
}

header h1 {
    font-family: 'Jockey One', sans-serif;
    color: rgb(50, 195, 152);
    border-bottom: solid 1px rgba(50, 195, 152, 0.739);
    font-size: 35px;
}

nav ul li {
    font-size: 22px;
    height: 50px;
} 

nav ul li b {
    display: none;
    color: rgb(47, 47, 47);
    font-size: 13px;
    padding: 12px;
} 

nav ul li b:hover{
    color: rgb(50, 195, 152);
    transition: 0.2s ease-in-out;
}

nav a:hover i{
    display: none;
}

nav a:hover b {
    display: block;
    padding: 10%;
}

.socials ul li{
    padding: 6px;
} 

.nav li {
    display:block;
    height: 52px;
    width: 145px;
    text-align: center;
} 

.nav li a {
    color:rgb(117, 109, 109);
    font-size:20px;
}

.nav li b {
    display: none;
}

/*Contact*/
.contact-page {
    display: flex;
    justify-content: flex-start;
    align-self: center;
    flex-direction: column;
    margin-left: 80px;
    margin-top: -30px;
}

.input-flex{
    margin-bottom: 10px;
}

.contact-page h1 {
    color: #32c398;
    font-size: 45px;
    margin-bottom: 10px;
}

.contact-page .detail {
    margin-left: 5px;
    margin-top: -10px;
    margin-bottom: 25px;
    width: 380px;
    color: aliceblue;
}

.contact-page .detail p {
    color: #c8caca;
}

input, textarea {
    background-color: rgb(61, 60, 60);
    border: solid 2px rgb(56, 56, 56);
    padding: 12px;
    border-radius: 3px;
    outline: none;
}

textarea {
    margin-top: 15px;
}

form {
    display: flex;
    flex-direction: column;
    padding: 6px;
}

button {
    cursor: pointer;
    color: rgb(242, 244, 246);
    border: solid 2px #32c398;
    padding: 9px;
    text-transform: uppercase;
    width: 150px;
    margin-top: 15px;
    border-radius: 2px;
    background: transparent;
}

button:hover{
    background: #32c398;
    color: aliceblue;
    transition: 0.2s ease-in-out;
}

/*Projects*/
.projects-page {
    display: flex;
    justify-content: flex-start;
    align-self: center;
    flex-direction: column;
    margin-left: 80px;
    margin-top: -30px;
}

 /* h1 {
    justify-content: center;
} */

.cards {
    display: flex;
    /* padding: 160px; */
}

.project-card {
    display: flex;
    flex-direction: column;
    padding: 16px;
}

.project-card img {
    width: 280px;
    border: solid 1px #3b3b3b;
}

.project-card p {
    width: 275px;
    text-align: center;
}

.project-card h3 {
    align-self: center;
    margin-bottom: 7px;
    color: #e6e9e9;
    /* font-weight: 100; */
    /* text-transform: uppercase; */
}

.link-project ul {
   display: flex;
   justify-content: center;
}

.link-project i {
    /* align-self: center; */
    margin: 10px;
}