@import url('https://fonts.googleapis.com/css?family=Acme&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Jockey+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(46, 45, 45);
    font-family: 'Open Sans', sans-serif;
}

ul {
   list-style: none;
}

a {
    text-decoration: none;
    color: rgb(105, 104, 105);
}
a:hover{
    color: rgb(50, 195, 152);
    transition: all ease 0.2s;
}

header {
    position: relative;
    background: rgb(27, 27, 27);
    height: 100vh;
    width: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 18px 0 18px 0;
}


header h1 {
    font-family: 'Jockey One', sans-serif;
    color: rgb(50, 195, 152);
    border-bottom: solid 2px rgba(50, 195, 152, 0.739);
    font-size: 35px;
}

 nav ul li {
    padding: 16px;
    font-size: 22px;
    height: 50px;
} 

nav ul li b {
    display: none;
    color: rgb(50, 195, 152);
    font-size: 13px;
    height: 100%;
} 

 nav a:hover i {
    display: none;
}

nav a:hover b {
    display: block;
    padding: 10%;
}

.socials ul li{
    padding: 6px;
} 

.nav li {
    display:block;
    height: 52px;
    width: 145px;
    text-align: center;
    transition: all 0.2s ease-in-out;
} 

.nav li a {
    color:rgb(117, 109, 109);
    font-size:20px;
}

.nav li b {
    display: none;
}
